##注意，注意，注意，用本教程得到的my.files 会保存你的宽带账号、密码，WIFI等个人信息，必须把仓库设为个人，不能是公开！不能是公开！不能是公开！
##注意，注意，注意，用本教程得到的my.files 会保存你的宽带账号、密码，WIFI等个人信息，必须把仓库设为个人，不能是公开！不能是公开！不能是公开！
##注意，注意，注意，用本教程得到的my.files 会保存你的宽带账号、密码，WIFI等个人信息，必须把仓库设为个人，不能是公开！不能是公开！不能是公开！
#
#
##第一步：先按大神的教程定制你需要的固件，在此文件内填入按教程得到seed.config内容，生成定制固件。
##第二步，路由器刷固件，然后设置好各项参数WFI,账号之类的，重启。（不要增加删除软件，要在第一步做好选择）
##第三步：获取files文件，以K2为例：SSH进入路由器，输入：
#####   find /overlay/upper -type f | xargs tar -cvpf /tmp/my.files
#########说明 /overlay/upper 为固件的用户数据区，你设置路由器是更改过的文件都在这里
##第四步：到 /tmp 目录下找到 my.files 文件，把该文件上传至本项目的根目录（和.config相同目录）##
##第五步：再次打开 my.config 在最后回车加空行，就能保存了。
##第六步：等固件生成，路由器刷最后得到的固件。现在你恢复出厂，之前设定好的参数一样还在。
